*{
    box-sizing: border-box;
}

body{
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin: 0;
    justify-content: center;
    height: 100vh;
}

#element1{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #00008B;
}

#element2{
    position: absolute;
    background-color: #FF0000;
    top: 0px;
    right: 0px;
}
