*{
    box-sizing: border-box;
}

body{
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin: 0;
    
}

#element1{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #00008B;
}
