*{
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #ffffff;
    color: black;
}

#element1{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #000000;
    color: white;
}

#element2{
    position: absolute;
    top: 0px;
    right: 0px;
}

#element3{
    position: absolute;
    background-color: red;
    color: white;
    cursor: pointer;
}
